* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.invite {
  background-color: #f2f2f2;
  margin: 20px auto;
  padding: 30px 0 100px;
  text-align: center;
  width: 870px;
}

.invite h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 20px;
}

form .email {
  margin-bottom: 24px;
}

form input[type=email] {
  border: 2px solid #5ac6d0;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 10px;
  width: 360px;
}

form button {
  background-color: #70cbce;
  border: 1px solid #70cdce;
  border-radius: 4px;
  height: 60px;
  padding: 0 20px;
  cursor: pointer;
}

form button:hover {
  background-color: #de4a1e;
  border: 1px solid #de4a1e;
}